.DS_Store
*.pyc
*.swp
.gitignore
*/tmp/*
*/build/*
*/log/*
*/private/*
*/archive/*
*/reports/*
~*
__pycache__
sandbox/build
*.egg-info
build
**/dist
_tmp*
.idea
.ipynb_checkpoints/
*.egg
_commit.txt
tmp
*.csv
*.output
*.out
*_result
